.no-bullets {
  list-style-type: none;
}

.buffer {
  display: inline-block;
  width: 25px;
}

.row-buffer {
  margin-top: 10px;
}

.white-text {
  color: white;
}

.red-text {
  color: red;
}

.inline {
  display: inline;
}

.listing-img {
  width: 250px;
}

.intro {
  overflow-x:hidden;
}